@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

*{
	box-sizing:border-box;
	font-family:Raleway;
}

a{
	text-decoration:none;
}

p,li,h3,h2{
	text-align:left;
	padding: 0 20px;
}

html{
	height:100%;
	background-color:#161616;
	color:#FF8C00;
}

header{
	background-color:#232323;
	margin:-.5em -.5em 0 -.5em;
	text-align:center;
	border-bottom:2px solid #FF8C00;
}

main{
	background-color:#161616;
	margin:0px 12%;
}

body{
	min-height:99%;
	display:flex;
	flex-direction:column;
}

footer{
	background-color:#232323;
	margin:auto -.5em -.1em -.5em;
	min-height:1%;
}

footer>p{
	text-align:center;
}

#mainNav li{
	display:inline-block;
	position:relative;
	padding:0 2%;
	margin:0 0.5%;
}

#mainNav li>#currentPage{
	color:#FF8C00;
	pointer-events:none;
}

#ddNav{
	display:none;
}

.dropDownBtn{
	border:none;
	margin:0;
}

.dropDown{
	position:relative;
	display:inline-block;
}

.dropDown:hover .dropDownContent{
	display:block;
}

.dropDownContent{
	background-color:#232323;
	display:none;
	position:absolute;
	min-width:160px;
	z-index:6;
}

.dropDownContent a{
	display:block;
}

.sec{
	background-color:#232323;
	margin:3% 0.5%;
	padding:0.5%;
	text-align:center;
	outline-style:solid;
	outline-color:#FFFFFF;
	outline-width:1px;
	min-width:310px;
	overflow:hidden;
}

.flexContainer{
	display:flex;
	flex-wrap:wrap;
}

.flexContainer>div{
	max-width:100%;
	margin:auto;
}

.flexContainer>.evenCol{
	flex:1;
	width:max-content;
	min-width:300px;
}	

.flexContainer>.col{
	width:min-content;
	min-width:300px;
}

.ssContainer{
	flex:2 1 auto;
	width:max-content;
	position:relative;
	display:none;
}

.ssContainer>div>video,.ssContainer>div>iframe,.ssContainer>div>img{
	min-height:300px;
	min-width:300px;
	width:100%;
	height:50vh;
	border-width:0px;
}

.button{
	background-color:rgba(22,22,22,0);
	text-align:center;
	z-index:2;
	color:#FFFFFF;
	cursor:pointer;
	font-size:18px;
	font-weight:bold;
	transition:0.8s ease;
	user-select:none;
	padding:.5em;
	border:2px solid rgba(0, 0, 0, 0);
}

.button:hover{
	color:#FF8C00;
	background-color:#ddd;
	border:2px solid #FFFFFF;
}

.prev,.next{
	position:absolute;
	top:50%;
	padding:1.5%;
	margin-top:-22px;
	font-size:24px;
}

.prev{
	left:0;
}

.next{
	right:0;
}

#tpBtn{
	background-color:#232323;
	display:none;
	position:fixed;
	bottom:93%;
	right:1%;
	width:4%;
	height:4.5%;
	z-index:10;
}

.githubProjectLink{
	cursor:pointer;
}

.githubProjectLink>img{
	position:absolute;
	padding:0 10px;
	width:50px;
}

.githubProjectLink>img.hover{
	background-color:#FF8C00;
}

.externalLink{
	color:#FFFFFF;
	font-size:1.2em;
}

.showMoreText{
	display:none;
	border-top:2px solid #FF8C00;
	padding-top:.5em;
}